<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="ttPlayer1.ShowAlways" value="True"/>
	</appSettings>
	<startup>
	
	<requiredRuntime version="v1.1.4322" safemode="true"/><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
